a {
  background-color: #222;
  text-indent: -2;
  text-decoration: unset;
  color: #999;
  width: 999;
  white-space: pre;
  padding: 8 0 0 6;
  overflow: clip;
  font-size: 9;
  line-height: 0
}
#a {
  background-color: #333; 
  position: sticky;
  z-index: 1;
  top: 0
}
#p {
  display: contents;
  color: #cb0
}
[a] {
  background-color: #230
}
[s] {
  background-color: #420
}
[e] {
  background-color: #034
}
p {
  display: flex;
  box-sizing: border-box;
  height: 40;
  text-align: initial;
  padding-top: 1;
  gap: 1px;
  margin: 0
}
.a {
  display: none
}
.p {
  display: contents;
  font-size: 12
}
::-webkit-scrollbar {
  width: 20
}
::-webkit-scrollbar-thumb {
  background-color: #666
}
body {
  background-color: #000;
  color: #bbb;
  line-height: 40px;
  margin: 0 max(0px,calc(50% - 432px)) 40;
  text-align: center;
  overflow: clip scroll;
  font-feature-settings: 'palt';
  font-family: tahoma,sans-serif;
  font-size: 12
}
::Placeholder {
  filter: contrast(.1)
}
@media(hover) {
  p:hover {
    filter: contrast(.7) brightness(1.1)
  }
}
:first-line {
  color: #bbb;
  line-height: 2;
  font-size: clamp(10px,2.2vw,12px)
}
input {
  all: unset;
  flex-grow: 1
}