a {
  background-color: #222;
  color: #999;
  text-decoration: unset;
  width: 999;
  text-indent: -2;
  font-family: tahoma,sans-serif;
  font-size: 9;
  padding: 8 0 0 6;
  overflow: clip;
  line-height: 0
}
#a {
  background-color: #333;
  z-index: 9;
  position: sticky;
  top: 0
}
#p {
  display: contents;
  color: #cb0
}
[a] {
  background-color: #230
}
[s] {
  background-color: #430
}
[e] {
  background-color: #034
}
.a {
  display: none
}
.p {
  display: contents;
  font-size: 12
}
p {
  display: flex;
  box-sizing: border-box;
  text-align: initial;
  height: 40;
  padding-top: .5;
  gap: .5px;
  margin: 0
}
::-webkit-scrollbar {
  width: 20
}
::-webkit-scrollbar-thumb {
  background-color: #666
}
:first-line {
  line-height: 1.75;
  color: #bbb;
  font-family: meiryo,hiragino sans,noto sans jp,sans-serif;
  font-size: clamp(10px,2.2vw,12px);
  font-feature-settings: 'palt'
}
body {
  background-color: #000;
  color: #bbb;
  font-family: sans-serif;
  font-size: 12;
  overflow: clip scroll;
  line-height: 40px;
  margin: 0 max(0px,calc(50% - 432px)) 40;
  text-align: center;
  white-space: pre;
  font-weight: 300
}
::placeholder {
  filter: contrast(.1)
}
@media(hover) {
  p:hover {
    filter: contrast(.7) brightness(1.1)
  }
}
input {
  all: unset;
  flex-grow: 1
}