a {
  background-color: #111;
  color: #999;
  padding: 8 0 0 6;
  font-size: 9;
  contain: inline-size;
  text-indent: -2;
  text-transform: capitalize;
  text-decoration: unset;
  width: -webkit-fill-available;
  width: -moz-available;
  line-height: 0
}
[a] {
  background-color: #230
}
[r] {
  background-color: #420
}
[e] {
  background-color: #034
}
p {
  background-color: #000;
  display: flex;
  white-space: pre;
  padding-top: 1;
  box-sizing: border-box;
  height: 40;
  gap: 1px;
  margin: 0
}
[s] {
  background: linear-gradient(90deg,#034 50%,#111 50%)
}
#a {
  background-color: #111;
  position: sticky;
  top: 0
}
[h] {
  background: linear-gradient(90deg,#420 50%,#111 50%)
}
#e {
  background-color: #111;
  color: #bbb;
  font-size: 12;
  border: #555 solid 1px;
  margin: 8 4;
  outline: 0
}
#r {
  all: unset;
  width: -webkit-fill-available;
  width: -moz-available
}
body {
  background-color: #000;
  color: #bbb;
  font-size: 12;
  font-family: tahoma,sans-serif;
  line-height: 40px;
  margin: 0 max(0px,calc(50% - 412px)) 40;
  font-feature-settings: "palt";
  overflow: clip scroll
}
:first-line {
  color: #bbb;
  font-size: clamp(10px,2.2vw,12px);
  font-family: arial,sans-serif;
  line-height: 2
}